.css-10trblm{
    color: #000064;
}
.css-10xlvwk{
    background-color: #DFDFDF !important;
}
.css-fg4pbf{
    background-color: #DFDFDF !important;
}
.css-18e3th9{
    background-color: #DFDFDF;
}
.css-18ni7ap.e8zbici2{
    background-color: transparent;
}
.main-svg[style]{
    background-color: transparent !important;