.css-10trblm{
    background-color: #000064 !important;
    color: #FFFFFF !important;
}
.css-18e3th9{
    background-color: #DFDFDF !important;
}
.css-18ni7ap.e8zbici2{
    background-color: transparent;
}
.main-svg[style]{
    background-color: transparent !important;
 }
rect{
    fill-opacity: 0 !important;
}
